
.element-container st-emotion-cache-10imjli e1f1d6gn4{
    align-content: center;
    text-align: center;
}

.st-emotion-cache-m797a3 e1f1d6gn2{
    align-content: center;
    text-align: center;
}
.st-emotion-cache-1nzazux e1f1d6gn3{
    align-content: center;
    text-align: center;
}

.st-ae {
    background-color: #cfcbca;
    color: black;
}

.st-emotion-cache-1v0mbdj {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

