.st-emotion-cache-5pcrmz {
    background-color: #3c4257;
    color: white;
    padding: .15rem;
    padding-left: .50rem;
    padding-right: .50rem;
    border-radius: .5rem;
}

.st-ae {
    background-color: #cfcbca;
    color: black;
}