.st-emotion-cache-5pcrmz e1nzilvr5 {
    background-color: #3c4257;
    color: white;
    padding: .15rem;
    /* padding-left: auto;
    padding-right: auto; */
    border-radius: .5rem;
   
}

.st-emotion-cache-m78myu e1nzilvr3{
    background-color: #3c4257;
    color: white;
    padding: .15rem;
    padding-left: auto;
    padding-right: auto;
    border-radius: .5rem;
    /* align-content: center; */
    text-align: center;
   
}
.element-container st-emotion-cache-10imjli e1f1d6gn4{
    align-content: center;
    text-align: center;
}

.st-emotion-cache-m797a3 e1f1d6gn2{
    align-content: center;
    text-align: center;
}
.st-emotion-cache-1nzazux e1f1d6gn3{
    align-content: center;
    text-align: center;
}

.st-ae {
    background-color: #cfcbca;
    color: black;
}

.st-emotion-cache-1v0mbdj {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

